<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% load static i18n %}
    <meta charset="UTF-8">
    <meta property="og:site_name" content="Speech IT">
    <meta property="og:url" content="{% block url_info %} 127/0/0/1 {% endblock %}">
    <meta property="og:description" content="This service is wonderful">
    <meta property="og:image" content="{% static 'SpeechIT/img/cloud.png' %}">
    <title>{% block title %} Text to Speech {% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'SpeechIT/css/template.css' %}">
</head>
<body>

{% block content %}

{% endblock %}

</body>
</html>